@keyframes carDrive{
    from{
        left: 68px;
    }
    to{
        left: calc(100% - 500px);
    }
}

body{
    margin: 0;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(bg.jpg);
    background-size: cover;
}

.animateButton{
    width: 250px;
    height: 50px;
    position: relative;
    margin: 10px;
    letter-spacing: 2px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: background-color 2s linear 0s;
    -moz-transition: background-color 2s linear 0s;
    -o-transition: background-color 2s linear 0s;
    transition: background-color 2s linear 0s;
}

.animateButton:hover{
    background-color: green;
}

.animateButton:focus{
    background-color: brown;
}

.hideBlock{
    width: 300px;
    height: 75px;
    position: relative;
    left: calc(-300px * 0.8);
    line-height: 75px;
    font-size: 16pt;
    text-align: center;
    letter-spacing: 2px;
    background-color: red;
    color: white;
    -webkit-transition: left 2s linear 0s;
    -moz-transition: left 2s linear 0s;
    -o-transition: left 2s linear 0s;
    transition: left 2s linear 0s;
}

.hideBlock:hover{
    left: 0;
}

.car{
    width: 500px;
    left: 68px;
    position: absolute;
    bottom: 0;
    animation: carDrive 4s linear 2s 1.5 alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.car img{
    width: 100%;
}

.car:hover{
    animation-play-state: paused;
}